<div class="container">

    <div class="card mt-3 mb-3">
        <div class="card-header" style="background-color:silver">
            <div class="float-end" style="font-size:larger">
                <h5 class="card-title">Created by: {{user.first_name}} {{user.last_name}}</h5>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text float-end">{{ticket_text}}</p>
        </div>
    </div>
    <p>{{{dateFormat "h, m, A" timeStamp}}}</p>


    <div class="card mt-3 mb-3">
        <div class="card-header" style="background-color:silver">
            <div class="float-start" style="font-size:larger">
                <h5 class="card-title">Created by: {{user.first_name}} {{user.last_name}}</h5>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">{{ticket_text}}</p>
        </div>
    </div>
    <p class="mb-3">{{{dateFormat "h, m, A" timeStamp}}}</p>


    <div class="input-group mt-3">
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>

    <a href="#" class="btn btn-primary mt-3" style="display:flex; justify-content:center;">Add New Comment</a>

</div>


{{!-- I need these Query Selectors to be added [Evan Towlerton] --}}
{{!-- The chat log form needs the id #chat-log-form --}}
{{!-- The message input field needs the id #message-input --}}
{{!-- The checkbox for hidden needs the id #is-hidden-input --}}
{{!-- The actual chat log needs the id #message-list --}}
{{!-- Delete these comments when finished --}}

