

    <h1>
        This is the dashboard handlebar!
    </h1>










{{!-- bottom half of the page --}}
<section class="min-vh-100 py-2 bg-light">

{{!-- table that includes all the ticket info --}}
    <div class="position-absolute top-50 start-50 translate-middle col-6">
    <table class="table table-bordered table-hover bg-white">
    <thead class="table-primary">
    <tr>
        <th scope="col"></th>
        <th scope="col">Status</th>
        <th scope="col">Description</th>
        <th scope="col">Urgency</th>
        <th scope="col">Client/Technician</th>
        <th scope="col">Date</th>
        <th scope="col">Link</th>

    </tr>
    </thead>

    <tbody>

    {{#each tickets}}
        <tr>
        <td></td>    
        <td>{{this.status}}</td>
        <td>{{this.ticket_title}}</td>
        <td>{{this.urgency}}</td>
        <td>{{this.user.first_name}} {{user.last_name}}</td>
        <td>{{this.date_created}}</td>
        <td><a href="/ticket/{{id}}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
    </tr>
    {{/each}}
    </tbody>
</table>
</div>

</section>

  <script src="/public/js/dashboard.js"></script>







