{{> new-ticket}}

{{!-- top half of the page --}}
<section class="container py-2">
    <div class="row">
        <div class="col">
            <h2 id=dbHead class="d-flex justify-content-center">Your Tickets</h2>
            <p id= "subhead" class= "d-flex justify-content-center">
                You may view ALL tickets, or filter by status. 
            </p>
<div id=ticket-btns class= "d-flex justify-content-center">
        <button id="open" type="button" class="btn btn-primary m-3 shadow bg-body-tertiary rounded">Open</button>
        <button id="pending" type="button" class="btn btn-primary m-3 shadow bg-body-tertiary rounded">Pending</button>
        <button id="resolved" type="button" class="btn btn-primary m-3 shadow bg-body-tertiary rounded">Resolved</button>
        <button id="claimed" type="button" class="btn btn-primary m-3 shadow bg-body-tertiary rounded">Claimed</button>
        <button id="all" type="button" class="btn btn-primary m-3 shadow bg-body-tertiary rounded">All</button>
    </div> 
    <div class="btnIcon d-flex justify-content-center mt-3 mb-3 ">
        <button id="addBtn" class="btn-primary rounded-circle shadow bg-body-tertiary"><i style="font-size:50px;" class="fa-solid fa-plus"></i></button>
        </div>
    </div>

</section>








{{!-- bottom half of the page --}}
<section class="d-flex justify-content-center "> 

{{!-- table that includes all the ticket info --}}
    <div class="position-absolute top-50 start-50 translate-middle col-6">
    <table class="table table-bordered table-hover bg-white">
    <thead class="table-secondary">
    <tr>
        <th scope="col"></th>
        <th scope="col">Status</th>
        <th scope="col">Description</th>
        <th scope="col">Urgency</th>
        <th scope="col">Client/Technician</th>
        <th scope="col">Date</th>
        <th scope="col">Link</th>

    </tr>
    </thead>

    <tbody>

    {{#each tickets}}

        <tr>
        <td>{{#if (isOpen this.status)}}<button class="claim" id="{{id}}">Claim</button>{{/if}}</td>
        <td>{{this.status}}</td>
        <td>{{this.ticket_title}}</td>
        <td>{{this.urgency}}</td>
        <td>{{this.user.first_name}} {{user.last_name}}</td>
        <td>{{format_date this.date_created}}</td>
        <td><a href="/ticket/{{id}}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
    </tr>
    {{/each}}
    </tbody>
</table>
</div>

</section>

<script src="/js/dashboard.js"></script>
<!-- Importing the closeModal Script [ET] -->
<script src="/js/closeModal.js"></script>











