{{#each tickets as |ticket|}}
{{> ticket-header}}
{{/each}}

<div class="row">

      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body bg-secondary">
            <form id="ticketInfo">

            <h2>{{ticket.ticket_title}}</h2>

            <label class="form-label mt-2">Subject</label>
            <input class="form-control" type="text" id="ticketSubject"  value="{{ticket.ticket_title}}" >

            <label class="form-label mt-2">Description</label>
            <textarea class="form-control" id="ticketDescription" rows="3" placeholder="{{ticket.ticket_text}}">{{ticket.ticket_text}}</textarea>
            <label class="form-label mt-2">Urgency</label>
                {{{renderUrgencyOptions ticket.urgency}}}

            <label class="form-label mt-2">Status</label>
                {{{renderStatus ticket.status}}}


            {{!-- <select class="form-select" id="statusSelect">
                <option value="statusUnclaimed">Unclaimed</option>
                <option value="statusClaimed">Claimed</option>
                <option value="statusPending">Pending</option>
                <option value="statusResolved">Resolved</option>
                <!-- add 'selected' to choose which is selected on load -->
            </select> --}}

            <button type="submit" class="mt-3 btn btn-primary" id="saveChanges">Save Changes</button>

            </form>
          </div>
        </div>
      </div>

    <div class="col-sm-12 col-md-6">
        <div class="container py-5">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <ul class="timeline">
                            {{#each ticket.logs as |log|}}
                              <li class="timeline-item rounded ml-3 p-4 shadow">
                                <div data-id="{{log.id}}">{{ticket_id}}</div>
                                  <div class="timeline-arrow"></div>
                              </li>
                              <i class="fa fa-clock-o mr-1 ml-3"></i><span data-id="{{ticket_id}}" class="small text-gray">{{{ format_date date_created}}}</span>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
    </div>

</div>
<script src = '/js/ticket.js'></script>