{{> ticket-header}}

<div class="ticketBottom row">

      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body bg-light">
            <form id="ticketInfo">

            <label class="form-label mt-2 font-weight-bold">Subject</label>
            <textarea class="form-control" id="ticketSubject" rows="1">{{ticket.ticket_title}}</textarea>

            <label class="form-label mt-2 font-weight-bold">Description</label>
            <textarea class="form-control" id="ticketDescription" rows="3" placeholder="{{ticket.ticket_text}}">{{ticket.ticket_text}}</textarea>
            <div class="">
                <label class="form-label mt-2">Urgency</label>
            </div>
            <div>
                {{{renderUrgencyOptions ticket.urgency}}}
            </div>

            <div>
                <label class="form-label mt-2">Status</label>
            </div>
            <div>
                    {{{renderStatus ticket.status}}}
            </div>

            {{!-- <select class="form-select" id="statusSelect">
                <option value="statusUnclaimed">Unclaimed</option>
                <option value="statusClaimed">Claimed</option>
                <option value="statusPending">Pending</option>
                <option value="statusResolved">Resolved</option>
                <!-- add 'selected' to choose which is selected on load -->
            </select> --}}

            <button type="button" class="mt-3 btn btn-primary col-12 text-center font-weight-bold" id="saveChanges">Save Changes</button>

            </form>
          </div>
        </div>
      </div>


    <div class="col-sm-12 col-md-6">
        <div class="container py-5">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <ul class="timeline">
                            {{#each ticket.logs as |log|}}
                              <li class="timeline-item rounded ml-3 p-4 shadow">
                                <div data-id="{{log.id}}">{{ticket_id}}</div>
                                  <div class="timeline-arrow"></div>
                              </li>
                              <i class="fa fa-clock-o mr-1 ml-3"></i><span data-id="{{ticket_id}}" class="small text-gray">{{{ format_date date_created}}}</span>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
    </div>

</div>